<nav class="bottom-nav">
  <div class="bottom-nav-inner">
    <button routerLink="/daily" routerLinkActive="active">
      <mat-icon>today</mat-icon>
      Daily
    </button>
    <button routerLink="/projects" routerLinkActive="active">
      <mat-icon>work</mat-icon>
      Projects
    </button>
    <button routerLink="/analytics" routerLinkActive="active">
      <mat-icon>bar_chart</mat-icon>
      Productivity
    </button>
    <button routerLink="/upcoming" routerLinkActive="active">
      <mat-icon>event</mat-icon>
      Upcoming
    </button>
    <button routerLink="/profile" routerLinkActive="active">
      <mat-icon>account_circle</mat-icon>
      Profile
    </button>
  </div>
</nav>
